arc/data/*.json
/.venv
arc/nbs/*
.env
*.sh
*.egg-info
*.pyc
*.json
*.ipynb
arc/data/synthetic/generate_proto.ipynb
.neptune/*
.arc-dsl/*
arc/run/tuning/*
arc/data/rearc/*
*.err
*.out
*proto.ipynb
runner.py 
runner_util.py
models/*
re-arc/